.body {
  position: relative;
  min-height: 100%;
  margin: 20px;
  border: 5px #3f1cdb solid;
  text-align: center;
  color: #e9e3f0;
  background-color: rgba(194, 189, 189, 0.486);
  border-radius: 10px;
  height: 75vh;
}
