.card {
  padding: 0.5rem;
  margin: 10px;
  border: 2px #3f1cdb solid;
  width: 15%;
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(194, 189, 189);
  color: #6e54dd;
  font-size: 20px;
}

.card_selected {
  border: 5px #3f1cdb solid;
}

.card_oneline {
  display: flex;
  flex-direction: row;  
}

.card_description {
  text-align: left;
}

.card_sep {
  border: 1px solid rgb(22, 22, 22);
}

.card_header {
  text-align: left;
  width: 75%;
}

.card_checkbox {
  text-align: right;
  width: 25%;
}

.edited {
  border-bottom-style: inset;
}
