.card {
  padding: 0.5rem;
  margin: 1%;
  border: 2px #3f1cdb solid;
  width: 15%;
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(194, 189, 189);
  color: #6e54dd;
}

.card_selected {
  border: 5px #3f1cdb solid;
  font-weight: bold;
}

.card_oneline {
  display: flex;
}

.card_text {
  font-size: 2em;
  margin-bottom: 20%;
  float: left;
}

.card_text_edited:hover {
  background-color: rgba(217, 245, 255,0.5);
  border-radius: 7px;
}

.card_sep {
  border: 1px solid rgb(22, 22, 22);
}

.card_header {
  font-size: 2em;
  text-align: left;
  width: 50%;
}

.card_header_edited:hover {
  background-color: rgba(217, 245, 255,0.5);
  border-radius: 7px;
}

.card_checkbox {
  text-align: right;
  width: 50%;
}

.card_checkbox_value {
  width: 15px;
  height: 15px;
}
